/* MAIN PAGE SETUP */

* {
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
}

html, body {
  background: #555;
  color: #daf8dd;
  height: 100%;
  margin: 0;
  padding: 0;
}

sidebar {
    box-shadow: 8px 0px 5px 0px #475C7F;
    flex: 2;
    z-index: 2;
  }

section {
    background: steelblue;
    box-shadow: 5px 0px 5px 0px #444;
    flex: 5;
    z-index: 1;
  }

.social {
    background: #daf8dd;
    flex: 1;
    height: 35%;
  }

.grid {
    display: flex;
    flex-direction: row;
    height: 100%;
    text-align: center;
  }

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 20vw 1fr 10vw;
    grid-template-rows: 30vh 50vh 20vh;
    grid-template-areas:
      "sidebar section social"
      "sidebar section ."
      "sidebar section .";
  }

  sidebar {
    grid-area: sidebar;
  }

  section {
    grid-area: section;
  }

  .social {
    grid-area: social;
    height: auto;
  }
}

svg {
  fill: #555;
  height: 3vw;
  max-height: 75px;
  max-width: 75px;
  min-height: 25px;
  min-width: 25px;
  transition: fill .5s;
}

.linkedin, .github {
  display: block;
  padding: 10px;
  transition: background .5s;
}

.linkedin:hover, .github:hover {
  background: #555;
  transition: background .5s;
}

.linkedin:hover svg, .github:hover svg {
  fill: #daf8dd;
  transition: fill .5s;
}

img {
  margin-top: 4px;
}

.me {
  border: 3px solid #daf8dd;
  border-radius: 50px 50px 15px 50px;
}

ul {
  list-style: none;
  text-align: left;
}

li {
  border: 1px solid transparent;
  margin: 5px;
  padding: 5px;
  transition: background, .3s;
}

li:focus {
  border: 1px solid #daf8dd;
  outline: none;
}

li:hover {
  background: #daf8dd;
  color: #555;
  cursor: pointer;
  transition: background, .5s;
}

hr {
  color: #daf8dd;
}

/*****************************************************************/

/* Reactodo */

#Reactodo {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  text-align: left;
}

.addTodo {
  background: #555;
  border: none;
  color: #daf8dd;
  margin-left: 50px;
}

h4 {
	margin: 5px;
}

.todo .delete {
  display: none;
}

.done .delete {
  color: transparent;
}

.done:hover .delete {
  color: red;
  float: right;
  font-weight: bold;
}

/*****************************************************************/

/* Media Queries  --- lots of improvement to be made! */
@media (max-width: 625px) {
  .grid {
  	flex-direction: column;
  }

  .me {
      display: none;
    }

    sidebar {
    	display: flex;
    }

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin: 5px;
    }

    .social {
    	height: 45%;
    }

  @supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 70vh 15vh;
    grid-template-areas:
      "sidebar"
      "section"
      "social"
  }

  sidebar {
    grid-area: sidebar;
  }

  section {
    grid-area: section;
  }

  aside {
    grid-area: aside;
  }

  .social {
    grid-area: social;
    height: auto;
  }
}

  @media (max-width: 330px) {
  @supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 70vh 5vh;
    grid-template-areas:
      "sidebar"
      "section"
      "social"
  }

  sidebar {
    display: flex;
    grid-area: sidebar;
  }

    .me {
      display: none;
    }

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin: 5px;
    }

  section {
    grid-area: section;
  }

  aside {
    grid-area: aside;
  }

  .social {
    grid-area: social;
    height: auto;
  }
}
/*****************************************************************/
