svg {
    height: 35px;
}

#contact {
    align-items: center;
    display: flex;
    flex-direction: column;
}

aside {
    color: steelblue;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

aside a {
    color: steelblue;
}

#contact-info {
    color: #333;
    text-align: center;
}

h6 {
    margin: 0;
}