<section id="about-me">
	<img src="../assets/drakebennion.jpg">
    <h3>Drake here. I'm a software developer in Salt Lake City, Utah. I like programming, but I <strong>love</strong> solving problems.</h3>
    <p>I graduated from the University of Utah with a B.S. in Mathematics, <i>magna cum laude</i>, and a minor in Computer Science. Since then, I've been involved in mostly front-end development at inContact, a call-center and workforce management/optimization software company. I've been a strong contributor to their main agent user interface using HTML, SASS/CSS and vanilla Javascript, as well as leading the project to incorporate WebRTC functionality into the agent.</p>
    <p>On weekends, you'll find me playing video games, reading, napping, and working on things I can show off on Github.</p>
</section>