a {
    text-decoration: none;
}
aside, img {
    color: #333;
    background: steelblue;
    height: 150px;
}

img {
    float: left;
    margin-right: 25px;
}

h3 {
    color: #fff;
}

#Reactodo {
    background: white;
}

#Reactodo h3 {
    color: steelblue;
}

#Reactodo img {
    float: right;
    margin-left: 5px;
    margin-right: 0;
}