<div id="projects">
    <a target="_blank" href="https://drakeywakey.github.io/people">
        <aside>
            <img src="../assets/findEm.PNG"/>
            <h3>FindEm</h3>
            <p>An Angular project, the idea is basically just a searchable catalog of people.
                You can increase the time it takes to populate the list, simulating
                a delay from the server, showing a way I thought the UI could act "gracefully" during the wait.
            </p>
            <h4><a href="https://github.com/drakeywakey/FindEmTests">Source code</a></h4>
        </aside>
    </a>
</div>